.card {
    width: 17%;
    height: 18rem;
    margin-left: 1.7rem;
    margin:0;
    top: 0;
    /* border: 3px solid green; */
    box-shadow: 5px 10px rgb(127, 127, 184);
    /* box-shadow:  0 0 4px 0 rgb(2, 2, 3); */
    border-radius: 34px;
    background-color: white;
  }
 .card-body { 
    text-align: center;
    text-decoration: none;
  }
  .card-title{
    font-size: 20px;
  
  }
  .card-bodyp{
      font-size: 9px;
      font-weight: 300;
  }
  .card-body > .card-text{
    font-size: 29px;
  }
  
  .cart-btn {
    margin: 1rem;
  }
  .card-body > button{
    background-color: white;
      color: blue;
      border: 2px solid blue;
      border-radius: 34px;
      justify-content: space-between;
      font-size: 18px;
      height: 3rem;
      width: 10rem;
      margin-top: 0.5rem;
      
     
  }
  .card-body > button:hover{
    background-color: blue;
      color: white;
      border:3px solid blue ;
  }
  .img_props {
    width: 100%;
    border-radius: 34px;
    height: 30vh;
  }
.c-icon{
   text-align: center;
   margin-top: 3rem;
}
.icon{
    color: orangered;
    font-size: 80px;
    align-items: center;
    justify-content: center;}

  @media screen and (max-width:940px){
    .card {
      width: 85%;
      height: 37rem;
      margin-left: 1.7rem;
      margin-top: 2.5rem;
      border: 3px solid green;
      box-shadow: 6px solid green;
      border-radius: 34px;
      background-color: white;
    }
    .img_props {
      width: 100%;
      border-radius: 34px;
      height: 50vh;
    }
    .card-body > button{
      background-color: white;
        color: blue;
        border: 2px solid blue;
        border-radius: 34px;
        justify-content: space-evenly;
        font-size: 15px;
        height: 3rem;
        width: 10rem;
        margin-top: 2.5rem;
        
       
    }
    .card-title{
      font-size: 30px;
  
    }
    .card-text{
      font-size: 29px;
    }
  } 