.hero{
    background-image: linear-gradient(to right  ,whitesmoke  50% ,whitesmoke  50%) ;
    height: 100vh;
    width: 100%;
    display: flex;
}
.h-left{
    flex: 1;
    align-items: center;
    display: flex;
    
    gap: 2rem;
    background-color:whitesmoke;
    /* background-image: linear-gradient(to right , white 60% , rgb(215, 222, 167) 90%); */
}
.h-right{
    display: flex;
    flex: 1;
    
    height: 100vh;
    width: 100%;
    /* border-top-left-radius: 40%; */
    
    /* background-color: whitesmoke; */
   
}
.image{
    background-image: url(../../images/meat-1155132.jpg);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100%;
    height: 100%;
    width: 100%;
}
.text-left{
     text-align: center;
    /* margin-bottom: 70px; */
    margin-top: 8rem;
    
}
.text-left h1{
    font-weight: 900;
    color: black;
}
.text-left h1 strong{
    color: orangered;
}
.text-left p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}
.h-btn{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    
}
.h-btn .menu-btn button{
    height: 3rem;
    width: 9rem;
    border-radius: 34px ;
    color: white;
    Background-color: orangered;
    margin-left: 0.5rem;
    border: none;
}
.h-btn .watch-btn button{
     height: 3rem;
    width: 9rem;
    color: white;
    border-radius: 34px ;
    Background-color: orangered;
    border: none;
}
.watch-btn .w-play{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.h-btn .watch-btn button label{
    font-size: 17px;
    line-height: 3rem;
}
.png img {
    height: 200px;
    width: 400px;
    margin-top: 3rem;
    padding-left: 20rem;
}
.r-fade-in{
    animation: r-fade-in 0.5s;
}

@keyframes r-fade-in {
    from{
        opacity: 0;
       transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);  
    }  
}
.l-fade-in{
    animation: l-fade-in 0.5s;
}
@keyframes l-fade-in {
    from{
        opacity: 0;
        transform: translateY(-100vh);
    }
    to{
        opacity: 1;
        transform: translateY(0); 
    }
}
.btn-fade-in-left{
    animation: btn-fade-in-left 0.5s;
}
@keyframes btn-fade-in-left {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.img-fade-in-top{
    animation: img-fade-in-top 0.5s;
}
@keyframes img-fade-in-top {
    from{
        opacity: 0;
       transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);  
    }  
}