.slider {
  position: relative;
  height: 60vh;
  display: flex;
  
  justify-content: center;
  align-items: center;
  /* background-color: rgb(90, 136, 136); */
}

/* .image {
  width: 100%;
  height:50vh;
  border-radius: 10px;
} */

.right-arrow {
  position: absolute;
  top: 50%;
  right: -120px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -120px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/* imageslider card styling */
.slider .card {
  width: 20vw;
  height: 40vh;
   /* border: 3px solid green; */
  box-shadow: 5px 10px rgb(127, 127, 184);
  border-radius: 34px;
  background-color: white;
  
}
.c-card > .card-body {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  background-color: white;
  text-decoration: none;
}
.card-title{
  font-size: 30px;

}
.card-body > .card-text{
  font-size: 29px;
}

.cart-btn {
  
}

.card .img_props {
  width: 100%;
  /* border-radius: 34px; */
  height: 20vh;
}