.testimonial{
    height: 80vh;
    width: 100%;
    margin-top: 10rem;
    
}
.t-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    height: 60vh;
}
.testimonial-heading{
    text-align: center;
}
.testimonail-heading h1{
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.testimonail-heading p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
